.navMenu::after {
  content: " ";
  display: block;
  background-image: url("/ico-x.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 139px;
  height: 85px;
  position: absolute;
  z-index: 9;
  top: -32px;
  left: -87px;
  transform: scale(0.5);
  /* top: -40px;
  left: -100px;
  transform: scale(0.8); */
}

/* nav.isScrolled::after {
  top: -32px;
  left: -90px;
  transform: scale(0.5);
} */

.navMenu {
  width: calc(100% - 50px) !important;
  @apply max-w-screen-xl z-30;
}
.lfirst {
  /* width: calc(100% - 50px) !important; */
  @apply grid grid-cols-[70px_1fr_70px] w-full mx-auto px-3 sm:px-8 py-2 items-end justify-between max-w-screen-xl;
}

.lfirst:first-child {
  @apply min-w-[90px];
}

@media (min-width: 670px) {
  .navMenu {
    width: calc(100% - 120px) !important;
  }
  .lfirst {
    width: calc(100% - 80px) !important;
  }
}

nav.navMenu ul li {
  @apply uppercase tracking-wide text-white hover:text-cyan-300 whitespace-nowrap;
}

nav.navMenu a {
  @apply lowercase text-[13px] text-white px-1 md:px-2 py-0 rounded-full;
  @apply uppercase tracking-tighter flex items-center space-x-0.5 h-auto;
}
